.list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
}

.list-rank {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6rem;
    padding-bottom: 3.5rem;
}
