.guide-text {
    width: 100vw;
    height: 1.5rem;
    top: 3.7rem;
    background-color: #d58b71;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "NanumSquare", sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.container-rank {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
